**/*.aux
**/*.bbl
**/*.blg
**/*.glo
**/*.idx
**/*.ist
**/*.log
**/*.mmd
**/*.out
**/*.toc
**/ui.ini*
src/mmd/user.mmd
**/*.orig
**/*.autosave
**/Files/binder.autosave
**/Files/binder.backup
**/Files/search.indexes
**/Files/user.lock
**/Files/Docs/docs.checksum
**/QuickLook/
**/Settings/ui.plist
**/Settings/recents.txt*
/txt2pdf*/
